
h1{
    text-align:center;
    font-family: Courier New;
    color:pink;
    text-shadow:1px 1px 0px white;
    }

p{
    text-align:center;
    font-family: monospace;
    color:white;
    }

body{
    height:100%;
   width:100%;
   
   background-image:url(https://cdna.artstation.com/p/assets/images/images/003/901/956/large/alexander-alartus-sombra-rising.jpg?1478373513);  
   background-repeat:no-repeat; 
   background-size:cover;
}