
h1{
    text-align:center;
    font-family: Courier New;
    color:pink;
    text-shadow:1px 1px 0px white;
    }

h2{
    text-align:center;
    font-family: courier;
    color:white;
    text-shadow:1px 1px 0 px black;
    
}

p{
    text-align:center;
    font-family: monospace;
    color:white;
    }

body{
    height:100%;
   width:100%;
   
   background-image:url(https://cdna.artstation.com/p/assets/images/images/003/901/956/large/alexander-alartus-sombra-rising.jpg?1478373513);  
   background-repeat:no-repeat; 
   background-size:cover;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    color:red;
    text-shadow:1px 1px 0px black;
}